# --- Raw data and big files ---
*.fastq
*.fq
*.bam
*.sam
*.bai
*.fa
*.fasta
*.gz
*.gtf
*.zip
*.tar
*.tgz
*.ht2
*.sa
# --- resuls, output and logs ---
*.csv
*.txt
*.tsv
*.log
*.out
*.err
*.RData
*.rds
*.html
*.pdf
*.png
*.tmp
*.summary
*.json
*.Rproj
results/alignment
results/count_reads
DESeq_data_analysis.md 
# --- envs and dependencies ---
.DS_Store
.Rproj.user/
.Renviron
.Rhistory
.gitignore.save
